@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: 17px;
  line-height: 1.6;
}
.maintitle {
  @apply text-2xl font-bold;
}

/* layout */
.main-wrap {
  & {
  }
  & > .sidebar {
  }
  & > .content {
  }
  & > .content > .mainbody {
  }
}
.main-body {
}

.header-wrap-container {
  & {
    border-bottom: solid 4px #0099ff;
  }
}
.sidemenu-wrap {
  & {
  }
  & > .section {
  }
  & > .section > .mainitem {
  }
  & > .section > .item {
  }
}
.header-wrap {
  & {
  }
  & > .logo {
  }
  & > .menu {
  }
  & > .menu > .item {
  }
}

/* components */
.backbutton-wrap {
  & > .button {
  }
}

/* parts */
.card {
}

.button {
}

.button.primary {
}

.button.secondary {
}

.button.alert {
}
/* utilities */


/* default */
.link {
}
.form-label {
}
.form-wrap {
  > .form {
  }
}
.field-wrap {
  > .label {
  }
  > .textitem {
  }
  > .textitem > .textfield {
  }

  > .selectlist {
  }
  > .submitbutton {
  }
  > .submitbutton.inactive {
  }
  > .textarea {
  }
}
.radio-wrap {
  > .radioitem {
  }
  > .radioitem > .radiobutton {
  }
  > .radioitem > .radiotext {
  }
}
.select-wrap {
  > .selectlist {
  }
}
