@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
.main-wrap {
  & {
    @apply flex my-3 mx-2 m-auto;
  }
  & > .sidebar {
    @apply w-1/5 bg-black text-white py-4 rounded shadow-xl;
    border-right: solid 2px #00ffc6;
  }
  & > .content {
    @apply w-4/5 py-3 px-2 md:px-8;
  }
  & > .content > .mainbody {
  }
}
.main-body {
  > .title {
    @apply text-2xl font-bold mb-3;
  }
  > .back {
    @apply text-blue-600 mb-4;
  }
}

.header-wrap-container {
  & {
    @apply bg-black text-white text-xl py-2;
    border-bottom: solid 3px #00ffc6;
  }
}
.sidemenu-wrap {
  & {
    @apply border-white space-y-4;
    @apply overflow-auto;
    height: 90vh;
  }
  & > .section {
  }
  & > .section > .mainitem {
    @apply px-6 pb-1;
  }
  & > .section > .item {
    @apply px-8 py-1 text-sm hover:bg-white hover:font-bold hover:text-black;
  }
}
.header-wrap {
  & {
    @apply mx-4 md:mx-6 flex justify-between items-center;
  }
  & > .logo {
  }
  & > .menu {
    @apply flex space-x-4 text-sm;
  }
  & > .menu > .item {
  }
}

/* components */
.backbutton-wrap {
  & > .button {
  }
}

/* parts */
.card {
}

.button {
}

.button.primary {
}

.button.secondary {
}

.button.alert {
}
/* utilities */


/* default */
.link {
  @apply text-blue-500;
}
.form-label {
  @apply label;
}
.form-wrap {
  @apply bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10;
  > .form {
    @apply space-y-6;
  }
}
.field-wrap {
  > .label {
    @apply block text-sm font-medium text-gray-700;
  }
  > .textitem {
    @apply mt-1;
  }
  > .textitem > .textfield {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-600 focus:border-blue-600 sm:text-sm;
  }

  > .selectlist {
    @apply mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-600 focus:border-blue-600 sm:text-sm;
  }
  > .submitbutton {
    @apply mt-5 w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600;
  }
  > .submitbutton.inactive {
    @apply bg-gray-500 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300;
  }
  > .textarea {
    @apply max-w-lg shadow-sm block w-full focus:ring-blue-600 focus:border-blue-600 sm:text-sm border border-gray-300 rounded-md;
  }
}
.radio-wrap {
  @apply space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10;
  > .radioitem {
    @apply flex items-center;
  }
  > .radioitem > .radiobutton {
    @apply focus:ring-blue-600 h-4 w-4 text-blue-700 border-gray-300;
  }
  > .radioitem > .radiotext {
    @apply ml-3 block text-sm font-medium text-gray-700;
  }
}
.select-wrap {
  > .selectlist {
    @apply block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-600 focus:border-blue-600 sm:text-sm;
  }
}
